<div ng-show="showCatalog" class="row" id="stocks-catalog">
	<div ng-repeat="stock in stocksCatalog track by $index" class="col col-md-3 col-sm-4">
		<div class="stock-catalog" style="border: 2px solid {{stock.color}}">
			<h3 class="stock-code" style="color: {{stock.color}}">{{stock.code}}</h3>
			<button ng-click="deleteStock(stock)" type="button" class="btn btn-xs btn-danger remove-stock-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
			<p class="stock-name">{{stock.name}}</p>
		</div>
	</div>

	<div class="col col-md-3 col-sm-4" id="addStockDiv">
		<form name="addStock" id="addStock" ng-submit="getAndAddStock(newStockName); newStockName='';" ;>
			<div class="input-group">
				<input type="text" class="form-control" name="stock" ng-model="newStockName" ng-maxlength="30" placeholder="Stock code..."
					required>
				<span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Add</button>
                </span>
			</div>
		</form>
	</div>

	<div class="col col-md-3 text-center" id="refreshIcon">
		<i style="margin-top: 30px" class="fa fa-refresh fa-spin fa-5x"></i>
	</div>
</div>

<!-- myModal -->
<div id="myModal" class="custom-modal">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-centered">
                <!-- Modal content -->
                <div class="custom-modal-content drop-in-modal">
                    <div class="custom-modal-header">
                        <span ng-click="hideError()" class="custom-close" id="addPicFormCloseBtn"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <h4>{{errorMsg}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>